<!-- MODAL LOCATION TEMP -->

<div id="userRegisterModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">

        <form action="/register" method="POST">
          <div class="form-group">
            <input class="form-control" name="username" type="text" placeholder="Username"></input>
          </div>
          <div class="form-group">
            <input class="form-control" name="email" type="text" placeholder="Email Address"></input>
          </div>
          <div class="form-group">
            <input class="form-control" name="password" type="password" placeholder="Password"></input>
          </div>
          <div class="form-group">
            <input class="form-control" name="password_confirm" type="password" placeholder="Re-enter Password"></input>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
