<% include ../partials/header %>

  <h1>Login Page</h1>

    <div class="container">
      <% if (errors) { %>
        <% errors.forEach((err) => { %>
          <div class="alert alert-danger">
            <%= err.msg %>
          </div>
        <% }) %>
      <% } %>
    </div>
    
    <div class="container">
      <form action="/posts" method="POST">
        <div class="form-group">
          <input class="form-control" name="post_title" type="text" placeholder="name"></input>
        </div>
        <div class="form-group">
          <input class="form-control" name="main_image" type="text" placeholder="Image url"></input>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="post_body" placeholder="Describe it!"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add Post</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
    
<% include ../partials/footer %>
